#controls:has(#pos_0_0:checked) {
    --pos-x: 0;
    --pos-y: 0;

    --pos_1_0_display: block;
    --pos_0_1_display: block;

    --pos_1_0_icon: url(../assets/svg/arrows/r.svg);
    --pos_0_1_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_1_0:checked) {
    --pos-x: 1;
    --pos-y: 0;

    --pos_2_0_display: block;
    --pos_0_0_display: block;
    --pos_1_1_display: block;

    --pos_2_0_icon: url(../assets/svg/arrows/r.svg);
    --pos_0_0_icon: url(../assets/svg/arrows/l.svg);
    --pos_1_1_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_2_0:checked) {
    --pos-x: 2;
    --pos-y: 0;

    --pos_3_0_display: block;
    --pos_1_0_display: block;
    --pos_2_1_display: block;

    --pos_3_0_icon: url(../assets/svg/arrows/r.svg);
    --pos_1_0_icon: url(../assets/svg/arrows/l.svg);
    --pos_2_1_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_3_0:checked) {
    --pos-x: 3;
    --pos-y: 0;

    --pos_2_0_display: block;
    --pos_3_1_display: block;

    --pos_2_0_icon: url(../assets/svg/arrows/l.svg);
    --pos_3_1_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_0_1:checked) {
    --pos-x: 0;
    --pos-y: 1;

    --pos_0_0_display: block;
    --pos_1_1_display: block;
    --pos_0_2_display: block;

    --pos_0_0_icon: url(../assets/svg/arrows/u.svg);
    --pos_1_1_icon: url(../assets/svg/arrows/r.svg);
    --pos_0_2_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_1_1:checked) {
    --pos-x: 1;
    --pos-y: 1;

    --pos_1_0_display: block;
    --pos_0_1_display: block;
    --pos_2_1_display: block;
    --pos_1_2_display: block;

    --pos_1_0_icon: url(../assets/svg/arrows/u.svg);
    --pos_0_1_icon: url(../assets/svg/arrows/l.svg);
    --pos_2_1_icon: url(../assets/svg/arrows/r.svg);
    --pos_1_2_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_2_1:checked) {
    --pos-x: 2;
    --pos-y: 1;

    --pos_2_0_display: block;
    --pos_1_1_display: block;
    --pos_3_1_display: block;
    --pos_2_2_display: block;

    --pos_2_0_icon: url(../assets/svg/arrows/u.svg);
    --pos_1_1_icon: url(../assets/svg/arrows/l.svg);
    --pos_3_1_icon: url(../assets/svg/arrows/r.svg);
    --pos_2_2_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_3_1:checked) {
    --pos-x: 3;
    --pos-y: 1;

    --pos_3_0_display: block;
    --pos_2_1_display: block;
    --pos_3_2_display: block;

    --pos_3_0_icon: url(../assets/svg/arrows/u.svg);
    --pos_2_1_icon: url(../assets/svg/arrows/l.svg);
    --pos_3_2_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_0_2:checked) {
    --pos-x: 0;
    --pos-y: 2;

    --pos_0_1_display: block;
    --pos_1_2_display: block;
    --pos_0_3_display: block;

    --pos_0_1_icon: url(../assets/svg/arrows/u.svg);
    --pos_1_2_icon: url(../assets/svg/arrows/r.svg);
    --pos_0_3_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_1_2:checked) {
    --pos-x: 1;
    --pos-y: 2;

    --pos_1_1_display: block;
    --pos_0_2_display: block;
    --pos_2_2_display: block;
    --pos_1_3_display: block;

    --pos_1_1_icon: url(../assets/svg/arrows/u.svg);
    --pos_0_2_icon: url(../assets/svg/arrows/l.svg);
    --pos_2_2_icon: url(../assets/svg/arrows/r.svg);
    --pos_1_3_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_2_2:checked) {
    --pos-x: 2;
    --pos-y: 2;

    --pos_2_1_display: block;
    --pos_1_2_display: block;
    --pos_3_2_display: block;
    --pos_2_3_display: block;

    --pos_2_1_icon: url(../assets/svg/arrows/u.svg);
    --pos_1_2_icon: url(../assets/svg/arrows/l.svg);
    --pos_3_2_icon: url(../assets/svg/arrows/r.svg);
    --pos_2_3_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_3_2:checked) {
    --pos-x: 3;
    --pos-y: 2;

    --pos_3_1_display: block;
    --pos_2_2_display: block;
    --pos_3_3_display: block;

    --pos_3_1_icon: url(../assets/svg/arrows/u.svg);
    --pos_2_2_icon: url(../assets/svg/arrows/l.svg);
    --pos_3_3_icon: url(../assets/svg/arrows/d.svg);
}

#controls:has(#pos_0_3:checked) {
    --pos-x: 0;
    --pos-y: 3;

    --pos_0_2_display: block;
    --pos_1_3_display: block;

    --pos_0_2_icon: url(../assets/svg/arrows/u.svg);
    --pos_1_3_icon: url(../assets/svg/arrows/r.svg);
}

#controls:has(#pos_1_3:checked) {
    --pos-x: 1;
    --pos-y: 3;

    --pos_0_3_display: block;
    --pos_1_2_display: block;
    --pos_2_3_display: block;

    --pos_0_3_icon: url(../assets/svg/arrows/l.svg);
    --pos_1_2_icon: url(../assets/svg/arrows/u.svg);
    --pos_2_3_icon: url(../assets/svg/arrows/r.svg);
}

#controls:has(#pos_2_3:checked) {
    --pos-x: 2;
    --pos-y: 3;

    --pos_1_3_display: block;
    --pos_2_2_display: block;
    --pos_3_3_display: block;

    --pos_1_3_icon: url(../assets/svg/arrows/l.svg);
    --pos_2_2_icon: url(../assets/svg/arrows/u.svg);
    --pos_3_3_icon: url(../assets/svg/arrows/r.svg);
}

#controls:has(#pos_3_3:checked) {
    --pos-x: 3;
    --pos-y: 3;

    --pos_2_3_display: block;
    --pos_3_2_display: block;

    --pos_2_3_icon: url(../assets/svg/arrows/l.svg);
    --pos_3_2_icon: url(../assets/svg/arrows/u.svg);
}